<div>
    <h1>Upcoming Angular Events</h1>
    <hr />
    <event-thumbnail
        [event]="event1"></event-thumbnail>
</div>

<!--
    Both interpolation and property binding are used to bind data from the component to the template.
    Interpolation is used when you just need to display that data. 
    Property binding is used when you want to bind the data to a DOM element. In this example, we're binding the value stored in user.imageUrl to the src property of this image tag:

    <h2>{{user.name}}</h2>
    <img [src]="user.imageUrl"/>
-->